DATABASE_URL=
AUTH_SECRET=
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
NEXT_PUBLIC_APP_URL=
APP_URL=
API_URL=
META_PIXEL_ID=
GTM_CONTAINER_ID=

BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_BASE_URL=
BKASH_CREATE_PAYMENT_PATH=
BKASH_EXECUTE_PAYMENT_PATH=
BKASH_QUERY_PAYMENT_PATH=
BKASH_WEBHOOK_SECRET=

NAGAD_MERCHANT_ID=
NAGAD_MERCHANT_PRIVATE_KEY=
NAGAD_PUBLIC_KEY=
NAGAD_BASE_URL=
